#root {
  /* max-width: 1280px; */
  margin: 0px;
  padding: 0px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow-y: hidden;
}

#alchemy {
  background-image: url("./assets/skillIcons/alchemy.png");
}

#alteration {
  background-image: url("./assets/skillIcons/alteration.png");
}

#archery {
  background-image: url("./assets/skillIcons/archery.png");
}

#block {
  background-image: url("./assets/skillIcons/block.png");
}

#conjuration {
  background-image: url("./assets/skillIcons/conjuration.png");
}

#destruction {
  background-image: url("./assets/skillIcons/destruction.png");
}

#enchanting {
  background-image: url("./assets/skillIcons/enchanting.png");
}

#heavyarmor {
  background-image: url("./assets/skillIcons/heavyarmor.png");
}

#illusion {
  background-image: url("./assets/skillIcons/illusion.png");
}

#lightarmor {
  background-image: url("./assets/skillIcons/lightarmor.png");
}

#lockpicking {
  background-image: url("./assets/skillIcons/lockpicking.png");
}

#onehanded {
  background-image: url("./assets/skillIcons/onehanded.png");
}

#pickpocket {
  background-image: url("./assets/skillIcons/pickpocket.png");
}

#restoration {
  background-image: url("./assets/skillIcons/restoration.png");
}

#smithing {
  background-image: url("./assets/skillIcons/smithing.png");
}

#sneak {
  background-image: url("./assets/skillIcons/sneak.png");
}

#speech {
  background-image: url("./assets/skillIcons/speech.png");
}

#twohanded {
  background-image: url("./assets/skillIcons/twohanded.png");
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillBg {
  /* Safari 6.0 - 9.0 */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-position: bottom 15% right 40px;
}

.perksBox {
  box-shadow: inset 100px 100px 100px -50px rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
  width: 0px;
  transition: all 1s ease-in-out;

}

.show {
  /* background-color: green; */
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 50vw;
  overflow: scroll;
  overflow-x: hidden;
  border-left: 1px solid white;
  /* right: -50px; */
  padding-bottom: 100px;
  z-index: 1;
  animation-name: show;
  animation-duration: 0.12s;
}

@keyframes show {
  from {
    width: 0px;
  }

  to {
    width: 50vw
  }
}

.show:hover {
  display: block;
}

.perksBox_selectRune {
  display: block;
  position: relative;
  left: 50px;
  z-index: 99;
}

.perkName {
  text-align: center;
}

.perkDescription {
  text-align: center;
}

.showPerksRune {
  height: 75px;
  margin: -50px 0px;
  position: relative;
  left: 80px;
  z-index: 4;
  /* background-color: green; */
  transition: all 1s ease-in-out;
  animation-name: perksRune;
  animation-duration: 0.2s;
}

@keyframes perksRune {
  from {
    left: -10px
  }

  to {
    left: 80px;
  }
}

.classifications_div {
  border: 2px solid black;
  width: 10000px;
}

.glow:hover {
  text-align: center;
  text-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
  transition: all 0.2s ease-in-out;
}

.oneSkill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px
}

.oneSkillHeader {
  /* display: flex; */
  width: 100%;
}

.rangeSliderSkill {
  width: 100%;
}

.skillSelected {
  color: white;

}

.skillNotSelected {
  color: grey;
  opacity: 65%;
}

.oneSkill_title {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  gap: 40pt;
  font-size: 32pt;
}

.skillSlider {
  width: 100%;
}

.inputWindow {
  width: 50vw;
  height: 100vh;
  background-color: rgb(63, 63, 63);
  /* padding: 40px 0px 40px 40px */
  /* overflow-y: scroll; */
  transition: all 1s ease-in;
}

.mageInput {
  background-image: url("./assets/backgrounds/mage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding: 40px 0px 40px 40px;
  box-shadow: inset 0px -50px 100px 50px rgba(3, 37, 99, 0.842);
}

.warriorInput {
  background-image: url("./assets/backgrounds/warrior.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 15% top 50%;
  padding: 40px 0px 40px 40px;
  box-shadow: inset 0px -50px 100px 50px rgba(88, 26, 8, 0.582);
}

.thiefInput {
  background-image: url("./assets/backgrounds/thief.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 15% top 50%;
  padding: 40px 0px 40px 40px;
  box-shadow: inset 0px -50px 100px 50px rgba(5, 22, 6, 0.801);
}

.navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.spacer {
  height: 50px;
}

.spacer_end {
  height: 80vh;
}

.consoleWrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  /* background-color: aliceblue; */
  padding-top: 0px;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.consoleWindow {
  text-align: left;
  display: block;
  justify-content: space-around;
  bottom: 0px;
  width: 100%;
  height: 0px;
  /* border-top: 4px solid white; */
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
  padding-left: 25px;
}

.consoleThumb {
  width: 530px;
  /* padding: 40px 40px 40px 40px; */
  /* margin: auto; */
  /* position: relative; */
  /* top: 50px; */
  /* border-radius: 50%; */
  margin: -51px;
  margin-top: -50px;
  overflow-y: hidden;
  padding-top: 80px;
  /* background-color: green; */
}

.selectRuneTopBorder {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.selectRuneBar {
  width: 50%;
  border: 2px solid white;
  /* height: 40px; */
  /* border-radius: 100% */
  /* border-top-left-radius: 100%;
  border-bottom-left-radius: 100%; */
}

.opened {
  height: 400px;
  overflow-y: auto;
}

.closed:hover {
  height: 100px;
  overflow-y: hidden;
}

.peek {
  height: 100px;
  overflow-y: hidden;
}

.onePerk {
  margin-bottom: 50px;
  padding: 0px 40px;
}

.onePerk h3 {
  font-size: 20pt;
  line-height: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.onePerkHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.onePerkHeader button {
  line-height: 0px;
  height: 20px;
  width: 20px;
  padding: 0px;
  border-radius: 5px;
  /* transition: all 0.2s ease-in-out; */
}

/* .onePerkHeader button:hover {
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
} */

.onePerkTitleBar {
  border: 2px solid white;
  border-radius: 100%;
  width: 85%;
  margin: auto
}

.onePerkDescription {
  font-size: 16pt;
  line-height: 18pt;
  overflow-wrap: break-word;
}

.rangeSlider {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.w-65 {
  width: 65%
}

.rangeSlider input {
  width: 100%;
  appearance: none;
  margin: 0px;
  height: 17px;
  border-top: 2px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 0px 3px 0px rgb(200, 200, 200);
  background-color: rgba(0, 0, 0, 0);
}

.rangeSlider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background-color: red;
  height: 30px;
  width: 30px;
  background: url('./assets/sliderPointer.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  cursor: pointer;
}

.rangeSlider input::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('./assets/sliderPointer.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  cursor: pointer;
}


.rangeSlider img {
  height: 22px;
}

.flipped {
  rotate: 180deg;
}

/* .consoleWrapper:hover>.closed:hover {
  height: 200px;
} */

/* PREPARE FOR RANGE SLIDER NIGHTMARE */
/* https://toughengineer.github.io/demo/slider-styler/slider-styler.html */