#root {
  /* max-width: 1280px; */
  margin: 0px;
  padding: 0px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow-y: hidden;
}

.perksBox {
  /* background-color: green; */
  /* display: none; */
  transition: all 0.5s ease-in;
}

.hidden {
  display: none;
  width: 0px;
}

.show {
  /* background-color: green; */
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 50vw;
  overflow: scroll;
  overflow-x: hidden;
  border-left: 1px solid white;
  /* right: -50px; */
  padding-bottom: 100px;
  z-index: 1;
  animation-name: show;
  animation-duration: 0.12s;
}

@keyframes show {
  from {
    width: 0px;
  }

  to {
    width: 50vw
  }
}

.perksBox_show:hover {
  display: block;
}

.perksBox_selectRune {
  display: block;
  position: relative;
  left: 50px;
  z-index: 99;
}

.perkName {
  text-align: center;
}

.perkDescription {
  text-align: center;
}

.classifications_div {
  border: 2px solid black;
  width: 10000px;
}

.classifications {
  /* width: 300px; */
  /* overflow-x: hidden; */
  width: 33vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  background-color: rgb(76, 0, 139);
  position: absolute;
  left: 0px;
  top: 0px;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.classifications::-webkit-scrollbar {
  display: none;
}

.glow:hover {
  text-align: center;
  text-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
  transition: all 0.2s ease-in-out;
}


.oneSkill {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px
}

.oneSkillHeader {
  /* display: flex; */
  width: 100%;
}

.rangeSliderSkill {
  width: 100%;
}

.skillSelected {
  color: white;

}

.skillNotSelected {
  color: lightgrey;
  opacity: 80%;
}

.oneSkill_title {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  gap: 40pt;
  font-size: 32pt;
}

.skillSlider {
  width: 100%;
}

.inputWindow {
  width: 50vw;
  height: 100vh;
  background-color: rgb(63, 63, 63);
  /* padding: 40px 0px 40px 40px */
  /* overflow-y: scroll; */
  transition: all 1s ease-in;
}

.mageInput {
  background-color: lightblue;
  padding: 40px 0px 40px 40px;
}

.warriorInput {
  background-color: orange;
  padding: 40px 0px 40px 40px;
}

.thiefInput {
  background-color: lightgreen;
  padding: 40px 0px 40px 40px;
}

.navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.spacer {
  height: 50px;
}

.spacer_end {
  height: 80vh;
}

.consoleWrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  /* background-color: aliceblue; */
  padding-top: 0px;
  height: auto;
}

.consoleWindow {
  text-align: left;
  display: block;
  justify-content: space-around;
  bottom: 0px;
  width: 100%;
  height: 0px;
  border-top: 4px solid white;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.consoleThumb {
  width: 35px;
  /* padding: 40px 40px 40px 40px; */
  margin: auto;
  /* position: relative; */
  /* top: 50px; */
  /* background-color: green; */
  /* border-radius: 50%; */
  overflow: clip;
  margin: -10px;
}

.opened {
  height: 400px;
}

.closed:hover {
  height: 100px;
}

.peek {
  height: 100px;
}

.onePerk {
  margin-bottom: 50px
}

.onePerk h3 {
  font-size: 20pt;
  line-height: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.onePerkHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.onePerkHeader button {
  line-height: 0px;
  height: 20px;
  width: 20px;
  padding: 0px;
  border-radius: 5px;
  /* transform: rotate(45deg); */
}

.onePerkTitleBar {
  border: 2px solid white;
  border-radius: 100%;
  width: 85%;
  margin: auto
}

.onePerkDescription {
  font-size: 16pt;
  line-height: 0px;
}

.rangeSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.w-65 {
  width: 65%
}

.rangeSlider input {
  width: 100%;
  appearance: none;
  margin: 0px;
  height: 17px;
  border-top: 2px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 0px 3px 0px rgb(200, 200, 200);
  background-color: rgba(0, 0, 0, 0);
}

.rangeSlider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background-color: red;
  height: 30px;
  width: 30px;
  background: url('./assets/sliderPointer.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  cursor: pointer;
}

.rangeSlider input::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('./assets/sliderPointer.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  cursor: pointer;
}


.rangeSlider img {
  height: 22px;
}

.flipped {
  rotate: 180deg;
}

/* .consoleWrapper:hover>.closed:hover {
  height: 200px;
} */

/* PREPARE FOR RANGE SLIDER NIGHTMARE */
/* https://toughengineer.github.io/demo/slider-styler/slider-styler.html */